.loader_container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

}

.loader {
    z-index: 20;
    width: 80px;
    height: 80px;
    -webkit-animation: fade-in 1.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
    animation: fade-in 1.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
}


@-webkit-keyframes loader {
    0% {
        opacity: .2;
        scale: .9;
    }
    50% {
        opacity: 1;
        scale: 1;
    }
    100% {
        opacity: .2;
        scale: .9;
    }
}
@keyframes fade-in {
    0% {
        opacity: .2;
        scale: .9;

    }
    50% {
        opacity: 1;
        scale: 1;
    }
    100% {
        opacity: .2;
        scale: .9;

    }
}