.barber_card {
    display: flex;
    flex-direction: column;
    width: calc(260px + (320 - 260) * ((100vw - 360px) / (1920 - 360)));
    border-radius: 6px;
    overflow: hidden;
}
.card_picture {
    width: calc(260px + (320 - 260) * ((100vw - 360px) / (1920 - 360)));
    height: auto;
    background-size: cover;
    background-position: center;
    border-radius: 6px 6px 0 0;
    transition: scale .4s ease-in-out;
}
.card_picture:hover {
    filter: grayscale(.9);
    scale: 1.05;
}

.barber_text h4 {
    text-align: center;
    font-size: 15px;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
}
.barber_text h3 {
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 22px;
    letter-spacing: .01em;
}