.barber_card {
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    overflow: hidden;
    line-height: 1.5em;
    padding: 20px;
    gap: 25px;
}

.card_picture_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barber_card h2 {
    font-size: 25px;
}

.card_picture {
    width: 300px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    transition: scale .4s ease-in-out;
}

.card_picture:hover {
    filter: grayscale(.9);
}

.barber_text h4 {
    text-align: center;
    font-size: 15px;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
}

.barber_text h3 {
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 22px;
    letter-spacing: .01em;
}

@media screen and  (max-width: 800px) {
    .barber_card {
        flex-direction: column;
        height: auto;
    }

    .barber_card h2 {
        text-align: center;
    }

}