
.logo img {
    width: 50px;
}

.navigation {
    color: #ddd;
    font-family: 'Inter', sans-serif;
    display: inline-block;
    padding: 0 20px;
    letter-spacing: 0;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 80px;

}

.menu_wrapper {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    list-style: none;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.navbar_items {
    background-color: #1E1E1EFF;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    transition: all 0.4s ease-in-out;
    z-index: 1;
}

.navbar_items_scroll {
    background-color: #1E1E1EFF;
    height: 90px;
    transition: all 0.8s ease-in-out;
}


.small_logo {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 70px;
    height: 70px;
}

.menu_icon {
    color: whitesmoke;
    display: none;
}

.insta_icon {
    cursor: pointer;
    color: whitesmoke;
    display: block;
    margin-left: 20px;
}

.navLink {
    text-decoration: none;
    cursor: pointer;
    padding: 15px;
    text-align: center;
    height: 50px;
}

.navLink:hover {
    border-bottom: 1px solid whitesmoke;
    transition: all 1.5s ease-in-out;
}

.nav_link_active {
    border-bottom: 1px solid whitesmoke;
}


.hide_element {
    display: none !important;
}

.show_element {
    display: block;
}

.main_logo {
    width: 240px;
}

@media screen and (max-width: 767px) {
    .menu_wrapper {
        flex-direction: column;
        justify-content: center;
        display: none;
    }
    .navbar_items {
        justify-content: space-between;
    }
    .navLink {
        height: 10px;
    }

    .menu_icon {
        display: block;
    }

    .showMenu {
        display: block;
    }

    .menu_wrapper {
        margin-right: 0;
        margin-top: 20px;
        column-gap: 10px;
    }

    .main_logo {
        max-width: 190px;
    }
    .navigation {
        line-height: 50px;
    }

}