body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {

}
.swiper-pagination-bullet-active {
  /*background-color: rgb(252, 251, 251) !important;*/
  background-color: var(--orange) !important;
}